/* Basic Styling */
h1 {
  margin: 10px auto;
  color: rgb(218, 215, 215);
}

head {
  text-align: center;
}

body {
  background-color: #000000;
  text-align: center;
  align-items: center;
  padding: 20px;
}

p {
  text-decoration: underline;
}

p4 {
  text-decoration: underline;
}
p8 {
  text-decoration: underline;
}
h2,
h3,
h4 {
  background: linear-gradient(135deg, #3b3ed9, #2a282a);
  width: 600px;
  font-size: 20px;
  margin: 25px auto;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

h2:hover,
h3:hover,
h4:hover {
  background-color: #9ac5e8;
  transform: scale(1.05);
}
